<div class="container">
  <div class="row my-5">
    <div class="col-md-6 m-auto">
      <a href="/" class="btn btn-primary my-2">Back</a>
      <div class="card shadow border-0">
        <div class="card-body">
          <form
            action="creatproduct"
            enctype="multipart/form-data"
            method="POST"
          >
            <input
              class="form-control my-3"
              type="text"
              name="name"
              placeholder="name"
            />

            <input
              class="form-control my-3"
              type="text"
              name="regularPrice"
              placeholder="regularPrice"
            />

            <input
              class="form-control my-3"
              type="text"
              name="salePrice"
              placeholder="salePrice"
            />

            <input
              class="form-control my-3"
              type="text"
              name="stock"
              placeholder="stock"
            />

            <input class="form-control my-3" type="file" name="productPhoto" />

            <button class="btn btn-primary mb-4" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
